div.kpi_div {
	position: relative;
	float: left;
	border: 4px solid black;
}

button.kpi_button_mitte {
	position: absolute;
	right: 325;
	bottom: 170;
	width: 80px;
}

button.kpi_button_obenrechts {
	position: absolute;
	right: 8;
	bottom: 370;
	width: 80px;
}
