<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>BI App DC - Admin</title>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
          border-color: #97c33d;
          background-color: white;
        }

        body {
            background-color: white;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 800px}

        /* Set dc background color and 100% height; color before: f1f1f1*/
        .sidenav {
          padding-top: 20px;
          background-color: #f1f1f1;
          height: 100%;
        }

        .btn-primary {
            background-color: #97c33d;
            border-color: #97c33d;
        }

        .btn-primary:hover {
            background-color: #74a80b;
            border-color: #74a80b;
        }

        .btn-primary:focus {
            background-color: #629102;
            border-color: #629102;
        }

        /* Set black background color, white text and some padding */
        footer {
          background-color: #f1f1f1;
          color: white;
          padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;}
        }
    </style>
    <script type="text/javascript">

        // // TO-DO responsive resizing
        // window.onresize = function () {
        // // As of 1.1.0 the second parameter here allows you to draw
        // // without reprocessing data.  This saves a lot on performance
        // // when you know the data won't have changed.
        //     myChart.draw(0, true);
        // };

    </script>

</head>


<body>

    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <div class="navbar-header" id="myNavbarHeader">
            <a href="/profile">
                <img class="d-inline-block align-top" alt="dynamic commerce logo" src="https://www.dc-solution.de/userdata/images/allgemein/Logo-dynamic-commerce.svg" style="margin-top: 3px; width: 120px; height:45px;">
            </a>
        </div>
        <span class="navbar-brand" style="margin-left: 10px; margin-top: -2px; color: #97c33d;"><span class="label label-default" style="background-color: #97c33d; border-color: #97c33d;">BUSINESS INTELLIGENCE APP</span></span>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout" style="color: #97c33d;"><span class="glyphicon glyphicon-log-out"></span> Ausloggen</a></li>
          </ul>
        </div>
      </div>
    </nav>



<div class="container-fluid">
    <div class="row content">

        <!-- Linke Seite (seitliche Navigationsleiste) -->
        <div class="col-sm-3 sidenav">
            <h2>Hallo Admin!</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1"><span class="glyphicon glyphicon-stats"> Dashboard</a></li>
                <li><a href="#section2"><span class="glyphicon glyphicon-cog"> Einstellungen</a></li>
            </ul>
        </div>
        <br>

        <!-- Rechte Seite (Dashboard) -->
        <div class="col-sm-9" id="section1">
            <!-- *****************
            **********************
            LISTE DER USER
            **********************
            ******************* -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <div>
                            <h2 class="text-align-center">Fügen Sie einen neuen Nutzer hinzu:</h2>
                            <hr />
                        </div>

                        <!-- Zeige Flash-Message, wenn nicht alle Felder ausgefüllt wurden -->
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>

                        <!-- INSERT FORM -->
                        <form action="/addUser" method="post">
                            <div class="form-group">
                                <label>Benutzername</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label>Passwort</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <label>Passwort bestätigen</label>
                                <input type="password" class="form-control" name="passwordConfirm">
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Host</label>
                                <input type="text" class="form-control" name="host">
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Benutzername</label>
                                <input type="text" class="form-control" name="username_db">
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Passwort</label>
                                <input type="text" class="form-control" name="password_db">
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Name</label>
                                <input type="text" class="form-control" name="db">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Benutzer hinzufügen ></button>
                        </form>

                        <hr />

                        <p>Zurück zur <a href="/profile">Übersicht ></a></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Rechte Seite (Einstellungen) -->
        <!-- <div class="col-sm-9" id="section2">
            hier muss noch der Einstellungen-Tab bearbeitet werden
        </div> -->

    </div>
</div>


<footer class="container-fluid text-center" id="footer">

</footer>

 </body>
