<!doctype html>
<html>
<head>
    <title>BI App Dynamic Commerce</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
          border-color: #97c33d;
          background-color: white;
        }

        body {
            background-color: white;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 800px}

        /* Set dc background color and 100% height; color before: f1f1f1*/
        .sidenav {
          padding-top: 20px;
          background-color: #97c33d;
          height: 100%;
        }

        .btn-primary {
            background-color: #97c33d;
            border-color: #97c33d;
        }

        .btn-primary:hover {
            background-color: #74a80b;
            border-color: #74a80b;
        }

        .btn-primary:focus {
            background-color: #629102;
            border-color: #629102;
        }
        
    </style>
</head>
<body>

    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <div class="navbar-header" id="myNavbarHeader">
            <a href="/profile">
                <img class="d-inline-block align-top" alt="dynamic commerce logo" src="https://www.dc-solution.de/userdata/images/allgemein/Logo-dynamic-commerce.svg" style="margin-top: 3px; width: 120px; height:45px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Ausloggen</a></li>
          </ul>
        </div>
      </div>
    </nav>





    <br>
    <br>
    <div class="container">
        <div class="well text-center">

            <h1><span class="fa fa-lock"></span> Business Intelligence APP</h1>
            <h2>von Dynamic Commerce</h2>

            <br>
            <hr />

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Anmelden</a>
        </div>

    </div>
</body>
</html>
