<!doctype html>
<html>
<head>
    <title>BI App Dynamic Commerce</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Business Intelligence APP</h1>
        <h2>von Dynamic Commerce</h2>

        <br>
        <p>Anmelden oder Registrieren:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Anmelden</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrieren</a>
    </div>

</div>
</body>
</html>
